---
---

@import "{{ site.theme }}";

a {
  color: #1CB88F;
}

a:hover {
  color: #15838F;
  font-weight: normal;
}

.logo {
  display: block;
  margin-bottom: 20px;
  width: 270px;
}

blockquote {
  border-left-width: 4px;
  padding-left: 15px;
}
