---
---

@import "{{ site.theme }}";

@media print, screen and (max-width: 960px) {
  header a small {
    display: block;
  }
}

body {
  font-size: 16px;
}

a {
  color: #1CB88F;
}

a:hover {
  color: #15838F;
  font-weight: normal;
}

.logo {
  display: block;
  margin-bottom: 20px;
  width: 270px;
}

blockquote {
  border-left-color: #FFBE33;
  border-left-width: 4px;
  padding-left: 15px;
}
